 .u-section-1 {
  min-height: 669px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 93px;
  margin: 468px 1534px 0 40px;
}

.u-section-1 .u-group-1 {
  width: 1726px;
  min-height: 860px;
  height: auto;
  margin: -567px auto 57px 81px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 945px;
  margin: -84px -158px 0 -140px;
}

.u-section-1 .u-image-1 {
  width: 93px;
  height: 147px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 1;
  --animation-custom_in-rotate: 360deg;
  --animation-custom_in-scale: 1;
  margin: -733px 273px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 575px;
  height: 274px;
  margin: -69px auto 0 20px;
}

.u-section-1 .u-image-3 {
  width: 267px;
  height: 295px;
  animation-timing-function: ease-in-out;
  margin: 86px auto 0 533px;
}

.u-section-1 .u-image-4 {
  width: 236px;
  height: 282px;
  filter: none;
  transition-duration: 0.5s;
  margin: -361px auto 0 277px;
}

.u-section-1 .u-image-5 {
  width: 173px;
  height: 201px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -681px 233px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 375px;
  height: 139px;
  margin: -281px auto 0 533px;
}

.u-section-1 .u-image-7 {
  width: 255px;
  height: 328px;
  animation-timing-function: ease-out;
  transition-duration: 0.5s;
  margin: -139px 452px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 477px;
  height: 271px;
  animation-timing-function: ease-in;
  transition-duration: 0.5s;
  margin: 206px 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 61px;
    margin-left: 0;
    margin-right: 594px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 49px;
    min-height: 568px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 612px;
    width: 940px;
    margin-top: -40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -510px;
    margin-right: 61px;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 224px;
    margin-top: -219px;
    margin-left: -43px;
  }

  .u-section-1 .u-image-3 {
    width: 185px;
    height: 204px;
    margin-top: -203px;
    margin-right: 221px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    width: 147px;
    height: 176px;
    margin-top: 83px;
    margin-left: 21px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -438px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-6 {
    width: 322px;
    height: 119px;
    margin-top: 193px;
    margin-left: 150px;
  }

  .u-section-1 .u-image-7 {
    width: 142px;
    height: 183px;
    margin-top: -526px;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    width: 400px;
    height: 227px;
    margin-top: 158px;
    margin-right: -6px;
    margin-bottom: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 374px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -545px;
    margin-bottom: 60px;
    min-height: 569px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-1 .u-image-3 {
    width: 227px;
    height: 250px;
    margin-top: 98px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 189px;
    height: 226px;
    margin-top: -171px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -583px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 397px;
    margin-left: -11px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -538px;
    margin-left: 61px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 215px;
    margin-right: -12px;
    margin-bottom: -270px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 194px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -560px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -57px;
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 79px;
    height: 125px;
    margin-top: -493px;
    margin-right: 43px;
  }

  .u-section-1 .u-image-2 {
    width: 388px;
    height: 185px;
    margin-top: -174px;
    margin-left: -32px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-right: -8px;
  }

  .u-section-1 .u-image-4 {
    width: 158px;
    height: 189px;
    margin-top: -210px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-5 {
    width: 142px;
    height: 165px;
    margin-top: -385px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 298px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -165px;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    width: 328px;
    height: 186px;
    margin-top: 12px;
    margin-right: 38px;
    margin-bottom: -271px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 823px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 0;
    margin-right: 329px;
    margin-left: 50px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -579px;
    min-height: 669px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 13px;
    padding-top: 13px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 441px;
    width: 340px;
    margin-top: 7px;
  }

  .u-section-1 .u-image-1 {
    width: 62px;
    height: 98px;
    margin-top: -396px;
    margin-right: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 244px;
    height: 116px;
    margin-top: -143px;
    margin-left: -25px;
  }

  .u-section-1 .u-image-3 {
    width: 145px;
    height: 159px;
    margin-top: -12px;
    margin-right: auto;
    margin-left: -24px;
  }

  .u-section-1 .u-image-4 {
    width: 110px;
    height: 132px;
    margin-top: -64px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    width: 108px;
    height: 125px;
    margin-top: -300px;
    margin-right: -3px;
  }

  .u-section-1 .u-image-6 {
    width: 216px;
    height: 80px;
    margin-top: 198px;
    margin-right: -36px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: -114px;
    margin-right: auto;
    margin-left: -22px;
  }

  .u-section-1 .u-image-8 {
    width: 228px;
    height: 130px;
    margin-top: 3px;
    margin-right: 57px;
    margin-bottom: -17px;
  }
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  opacity: 0 !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  opacity: 0 !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  opacity: 0 !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  opacity: 0 !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before,
.u-section-1 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  opacity: 0 !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  opacity: 0 !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before,
.u-section-1 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .full-landing-image{
  width: 100%;
  height: 100vh;
  background: url('') no-repeat center;
  background-size: cover;
}